{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'main/styles/home.css' %}">
{% endblock styles %}

{% block title %}
<title>4poX klan</title>
{% endblock title %}

{% block header %}
<header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">4poX<span>klan</span></a></li>
            <li><a href="{% url 'menu' %}"><svg xmlns="http://www.w3.org/2000/svg" height="2.5rem" viewBox="0 -960 960 960" width="2.5rem" fill="#008000"><path d="M120-240v-66.67h720V-240H120Zm0-206.67v-66.66h720v66.66H120Zm0-206.66V-720h720v66.67H120Z"/></svg></a href="{% url 'menu' %}"></li>
        </ul>
    </nav>
</header>
{% endblock header %}

{% block main %}
<main>
    <h1>Lineage II</h1>
    <a href="#"><strong>www.lineage2.ms</strong></a>
    <section>
        <h2>Здарова!</h2>
        <p>Роковой заклинатель и лидер клана — неуловимый Klitcher — приветствует тебя.</p>
    
        <h3>Chapter I. Начало</h3>
        <p>В эпоху миленьких Ниалов, когда Баюм ещё обитал на первом этаже, Klitcher сеял в людях зерно своей философии: решительное «Похуй» и созидательное «Нахуй». Эти два столпа стали основанием грядущих перемен.</p>
    
        <h3>Chapter II. Осознание</h3>
        <p>Вокруг него собрались первые искатели истины. Их влекли магия философии и мощь столпов. Те, кто ощущал пустоту в душе, впервые открыли иной путь — путь дерзости, смелости и единства. Вместе они возвели первые стены братства и написали кодекс, где решимость сильнее страха, а смех возвышается над унынием. Так родился клан 4poX.</p>
    
        <h3>Chapter III. Вознесение</h3>
        <p>Став под знамёна 4poX, вам предстоит пройти испытание, что определит судьбу и закалит решимость. Сражения будут ждать повсюду. Здесь проверяются не только умения и сила воли, но и способность не просто сказать брату-спойлеру твёрдое: «Пошёл в пизду», но и дать номер самой страшной подруги.</p>
        <p>Тот, кто выдержит этот путь, обретает не просто клан, а новое измерение свободы. 4poX возносит своих воинов над серостью, стирая границу «разумного», и награждает их единством, смехом и славой, что навсегда останется в истории.</p>
    
        <h3>Chapter IV. Легенды</h3>
        <p>Время — наш главный враг и наш величайший союзник. Оно стирает имена, но хранит истории. И пока герои прошлого запутались в паутине дней, — мы их продолжение.</p>
        <p>4poX — это не ожидание, а действие. Лишь действием мы докажем, что достойны Легенд, и однажды они вернутся не к пеплу, а к огню!</p>
    </section>
</main>
{% endblock main %}